/* Nunito Extra Light */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

/* Nunito Extra Light Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

/* Nunito Light */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/* Nunito Light Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

/* Nunito Regular */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Nunito Regular Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

/* Nunito Semi Bold */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/* Nunito Semi Bold Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

/* Nunito Bold */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Nunito Bold Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* Nunito Extra Bold */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

/* Nunito Extra Bold Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Nunito Black */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

/* Nunito Black Italic */
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/static/Nunito-BlackItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
