$palette-accent: (
  50: #ffeae5,
  100: #ffcbbd,
  200: #ffa891,
  300: #ff8565,
  400: #ff6a44,
  500: #ff5023,
  600: #ff491f,
  700: #ff401a,
  800: #ff3715,
  900: #ff270c,
  A100: #ffffff,
  A200: #fff6f6,
  A400: #ffc8c3,
  A700: #ffb0a9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
