$palette-primary-dark: (
  50: #ebf4ff,
  100: #cce3fe,
  200: #abd0fd,
  300: #89bdfc,
  400: #6faffc,
  500: #56a1fb,
  600: #4f99fa,
  700: #458ffa,
  800: #3c85f9,
  900: #2b74f8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d1e0ff,
  A700: #b8cfff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
